@import "~taro-ui/dist/style/components/fab.scss";

.float-btn {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

.at-fab {
    background: #80BEAF;
    &:active {
        background: #B3DDD1;
    }
}
