@import "~taro-ui/dist/style/components/fab.scss";

.index {
    padding-top: 1.2rem;
}

.float-btn {
    position: fixed;
    bottom: 4.5rem;
    right: 1.5rem;
}

.at-fab {
    background: #80BEAF;
}

.fab-hover {
    background: #B3DDD1;
}